#py cache files
*.pyc

#genbank files
*.gb

#fasta files
acinetobacterBaumannii/fastafiles
acinetobacterBaumannii/phaster/intactphages
acinetobacterBaumannii/phaster/intactphagesfasta
acinetobacterBaumannii/phigaro/
acinetobacterBaumannii/phispy/
pseudomonasAeruginosa/fastafiles
pseudomonasAeruginosa/phaster/intactphagesfasta

#gff3 files
*.gff3