#py cache files
*.pyc

#genbank files
*.gb

#fasta files
acinetobacterBaumannii/fastafiles
acinetobacterBaumannii/phaster/intactphages
acinetobacterBaumannii/phaster/intactphagesfasta
pseudomonasAeruginosa/fastafiles

#gff3 files
*.gff3